streamlit
PyPDF2
langchain
langchain-community
langchain-text-splitters
langchain-together
faiss-cpu
python-dotenv
graphviz
matplotlib
networkx
scikit-learn
plotly
pydantic
requests
numpy
openai
altair
tiktoken
google-search-results
urllib3
pypeprompts
